html{
    font-size: 15px; /*tamaño de fuente base*/
}

/*Estilos bloque bienvenidos*/
#menuprincipal{ /*Para que el menu del texto se despliegue abajo*/
    clear: both;
}
.bienvenidos{
    background:url("../images/fondo-bienvenidos.jpg");
    background-size: cover;
    height: 100vh; /*altura de la pantalla del usuario*/
    overflow: hidden;
}
.encabezado{ /*color negro transparente */
    background: rgba(0,0,0,0.28);
}
.navbar-fixed-top{ /*barra de navegacion fija*/
    background: rgba(0, 0, 0, 0.75);
}
.navbar-light .navbar-brand { /*sobreescribimos clases de bootstrap texto del logo*/
    color: rgb(253, 253, 253);
    font-size: 1.3rem;
    text-transform: uppercase; /*texto en mayusculas */
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover { /*cuando se le pica al logo*/
    color: rgba(255, 255, 255, 0.98); /*personalizamos diferentes elementos que bootstrap trae por defecto*/
}
.navbar-toggler { /*personalizacion del boton del menu responsive*/
    font-size: 1.6rem;
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {/*Estilos para los enlaces del menu*/
    color: rgb(255, 255, 255);
    text-align: center;
    padding: .4rem;
    text-transform: uppercase; /*texto en mayusculas*/
}
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > .nav-link:focus, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover {
    color: rgba(255, 255, 255, 0.95); /*Para cuando se le pica a los enlaces del menu*/
    background: #F05F40;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    background: #F05F40;
}
.texto-bienvenido{
    color: #fff;
    margin-top: 9rem;
}
.btn-primary { /*Personalizacion del boton*/
    background-color: #F05F40;
    border-color: #b93e24;
    transition: all .5s ease;
    text-transform: uppercase;
}
.btn-primary:hover { /*color cuando se coloca el cursor sobre el boton*/
    color: #fff;
    background-color: #fd7355;
    border-color: #F05F40;
}

/*Estilos bloque Quienes somos*/
.quienes-somos{
    background: #F05F40;
    color: #fff;
}

/*Estilos bloque Servicios*/
.servicios .fa{ /*seleccion de los iconos que tienen la clase fa*/
    color: #F05F40;
    font-size: 6rem;
}
.servicios h3{
    font-weight: bold;
}

/*Estilos Ultimos proyectos*/
.ultimos-proyectos{ /*Definiendo color del texto y fondo para esta seccion*/
    background: #424141;
    color: #fff;
}
.ultimos-proyectos a{
    display: block;
    overflow: hidden; 
    margin-bottom: 1.5rem;
}
.ultimos-proyectos img{
    transition: all .3s ease;
    min-width: 100%; 
}
.ultimos-proyectos a:hover img{
    transform: scale(1.5); /*cuando el usuario coloca el cursor sobre la imagen, esta se agranda*/
}

/**Estilos bloque Pie de pagina*/
.footer{
    color: #fff;
    background: #222222;
}

/*EMPIEZAN LOS MEDIAS QUERIES*/
@media (min-width: 768px) { /*Cuando la pantalla tenga como minimo 768px*/
    html{
        font-size: 16px;
    }
    #menuprincipal {
        clear: inherit; /*se hereda el valor por defecto definido por el navegador para que se vea bien el menu en escritorio*/
    }
    .bienvenidos{
        background:url("../images/fondo-bienvenido-grande.jpg");
        background-size:cover;
    }
}
